* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 20px;
    max-width: 100%;
}


h1{
    margin-bottom: 1em;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 2em;
}


h2{
    margin-bottom: 1em;
}

body{
    text-align: center;
}


a{
    text-decoration: none;
}


body main div{
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 3em;
    background-color: orange;
    border: 0.2em solid black;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 1em;
}

section{
    text-align: justify;
}


main {
    text-align: center;
    width: 1500px;
    margin: 2em auto;
}


footer {
    padding: 1em;
}


/* hier komt de styling voor de navigatie balk */

nav ul{
    background-color: rgb(0, 0, 0);
    display: flex;  /* zorgt dat alles naast elkaar is */
    justify-content: center;
    align-items: center;
}


nav ul li{
    background-color: rgb(0, 0, 0);
    margin: 1em;
    margin: 1em;
    list-style: none;
}


nav ul li:hover{
    background-color: goldenrod;
    padding: 10px;
    border-radius: 10px;
}

main p{
    padding: 1em;
}


ul a{
    color: white;
}



